*
{
    margin: 0;
    padding: 0;
}

body
{
    border-top: 8px solid #353535;
    font-family: Georgia, Times New Roman;
    font-size: 13px;
    color: #353535;
}

h1, h2, h3 { line-height: 1.8em; font-weight: 100; padding-bottom: 0.5em; }
h1 { font-size: 28px; }
h2 { font-size: 18px; }
h3 { font-size: 15px; }

p { font-size: 13px; line-height: 1.8em; padding-bottom: 1em; }

a
{ text-decoration: underline; }


#header
{
    background-image: url('images/header-background.png');
    background-position: bottom;
    color: #fff;
    overflow: auto;
    padding: 10px 0;
	border-bottom: 4px solid #318aab;
}

#header h1
{
    padding: 0;
    font-size: 38px;
    line-height: 1.8em;
    font-weight: bold;
}
#header h1 a, #header h1 a:visited, #header h1 a:active,  #header h1 a:hover { text-decoration: none; color: #fff; }

#header h2
{
    padding: 0;
    font-size: 18px;
    line-height: 1.8em;
}

#header p
{
    padding: 0;
    font-size: 15px;
    line-height: 1.8em;
    color: #353535;
}

#header a { color: #fff; }
#header a:hover { color: #353535; }


#header #intro .links { padding: 15px 0; }
#header #intro .links .download
{
    font-size: 18px;
    background-color: #080;
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

#header .menu
{
    float: right;
    list-style-type: none;
}

#header .menu li
{
    float: left;
}

#header .menu li a
{
    display: block;
    padding: 5px;
    margin: 20px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

#header .menu  li a:hover
{
    background-color: #318AAB;
    color: #fff;
}



.info
{
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    overflow: auto;
}
.info h1 { line-height: 1em; }






#demo
{
    background-image: url(col24.png);
}

#demo p
{
    background-color: #7eb5d6;
    border: 1px solid #000;
	color: #fff;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
}

#content
{
    padding: 30px 0;
}


.code
{
    color: #606060;
    font-family: Courier New;
    background-color: #E6F3F7;
    padding: 2px;
    border: 1px solid #91C7DB;
    
}

pre.code { padding: 10px; margin-bottom: 1.8em; }

.docs-toc
{
    list-style-type: none;
    width: 100%;
}

.docs-toc li
{
    font-size: 11px;
    background-color: #353535;
}

.docs-toc li a
{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #fff;
}

.docs-toc li a:hover
{
    text-decoration: underline;
}

.docs-toc li ul li
{
    padding-left: 10px;
    background-color: #454545;
}